/******* algemeen *****/
.outer-container-about {
    display: flex;
    flex-direction: column;

}

.inner-container-about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 0px 0px;

}

/******* about *************/

.about-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 1;
    flex-grow: 0;
    width: 30vw;
    text-align: left;
    gap: 10px;

}

.about-card > p {
    width: 20vw;
    color: #F68037;

}

.about-card > h2 {
    color: #261397;
    text-transform: uppercase;
    font-weight: lighter;
}

.about-card > p > div {
    margin-top: 10px;

}

.about-card > p > img {
    width: 8vw;
    height: 20vh;
    transform: matrix(1, -0.75, 0.75, 1, 10, -40);
    margin-top: 5px;

}

.about-laying-girl {
    width: 31vw;
    height: 75vh;
    margin-bottom: 150px;
    border: 2px solid #C2B8ED;
    padding: 8px;
    border-radius: 25px 0px;



}





/************contact*******************/
.inner-container-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 100px 0px 0px;

}
.contact-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 1;
    flex-grow: 0;
    width: 30vw;
    text-align: left;
    gap: 10px;

}

.contact-girl {
    width: 25vw;
    height: 75vh;
    margin-bottom: 150px;
    border: 2px solid #F68037;
    padding: 8px;
    border-radius: 0px 25px;


}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 0;
    color: #261397;

}

.contact-card > h2 {
    color: #F68037;
    text-transform: uppercase;
    font-weight: lighter;
}