.nav-link {
    text-align: right;
    color: #C2B8ED;
    margin: 10px;
    font-size: 16px;
}

.go-back {
    color:#C2B8ED;

}
.go-back:hover {
    color: #F68037;
}


.go-back-arrow {
    position: absolute;
    width: 3vw;
    height: 5vh;
    top: 20%;
    left: 2%;
}