/*********default************/


.email-form {
    width: 500px;
    padding: 15px 20px 20px 20px;
    background-color: rgba(194, 184, 237, 0.5);
    border-radius: 15px;



}

/***********fill in******************/

.email-form > h2 {
    color: var(--darkpurple-color);
    margin-bottom: 5px;
    text-align: start;
    font-size: 16px;
    }

.newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.newsletter-input {
    background-color: rgba(194, 184, 237, 0.5);
    color: var(--darkpurple-color);
    border: none;
    padding: 5px;
    width: 300px;
    height: 45px;
    outline: none;
    margin-left: 14px;
}

input::placeholder{
    color: var(--darkpurple-color);

}

.newsletter-button {
    width: 100px;
    background-color: rgba(194, 184, 237, 0.5); ;
    color: var(--darkpurple-color);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;

}

.newsletter-button:hover {
    color: var(--orange-color);
}