/*****veel gebruikte go back arrow en ga terug tekst*****/

.nav-link {
    text-align: right;
    color: var(--lightpurple-color);
    margin: 10px;
    font-size: 16px;
}

.go-back {
    color:var(--lightpurple-color);

}
.go-back:hover {
    color: var(--orange-color);
}

.go-back-arrow {
    position: absolute;
    width: 3vw;
    height: 5vh;
    top: 20%;
    left: 2%;
    margin: 10px;


}