/******default*******/

/*////////////header//////////////*/

/**********************shop button************/


.header-button {
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    color: #261397;
    background-color: #F68037;
    border: none;
    border-radius: 25px;
    width: 17vw;
    height: 7vh;
    margin-top: 20px;

}

.header-button:hover {
    /* Stijl bij hover */
    background-color: #C2B8ED;
    color: #261397;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 2px 0 4px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

/**********log in button and picture*************/

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-grow: 0;
    flex-shrink: 1;
    margin-top: 160px;
    gap: 70px;

}

.login-picture {
    width: 65vh;
    transform: matrix(1, -0.09, 0.09, 1, 0, 0)


}


.login-signature {
    width: 15vw;
    position: absolute;
    top: 117%;
    left: 42%;
    transform: translate(-50%, -50%);
}

.login-button {
    width: 15vw;
    position: absolute;
    top: 124%;
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: #F68037;
    border: none;
    font-size: 16px;
}

.login-button:hover {
    text-decoration: underline;
}

/********log in text**********/

.login-text {
    width: 30vw;
    text-align: center;

}

.login-text > h2 {
    margin-bottom: 15px;
}


.register-button {
    width: 15vw;
    height: 5vh;
    position: absolute;
    top: 165%;
    left: 65%;
    margin-top: 20px;

    background-color: #C2B8ED;
    color: #261397;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    text-transform: uppercase;
}
/********nieuw section***********/

.new-section {
    font-size: 16px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #261397;
    margin-top: 305px;
    margin-bottom:  305px;
    border: blue;
    border-style: solid;
}