.faq-section-two {
    width: 75vw;
    margin: 20px 0px;
    color: var(--darkpurple-color);
    border: 3px solid var(--orange-color);
    padding: 15px;
    border-radius: 25px 0px;

}

.faq-last-question {
    padding: 15px;
    color: var(--orange-color);
    font-size: 16px;
    width: 65vw;
}



.faq-contact {
    color: var(--orange-color);
    text-decoration: none;
    font-size: 16px;

}

.faq-contact:hover {
    text-decoration: underline;
    color: var(--darkpurple-color);
}

