.contact-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    text-transform: uppercase;


}

.contact-input {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-color: var(--lightpurple-color);
    outline: none;


}

.contact-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

}

.message-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

}

.message-input {
    border: var(--lightpurple-color) 2px solid;
    color: var(--darkpurple-color);
    outline:none;

}




.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.button > button {
    text-transform: uppercase;
    width: 150px;
    height: 28px;
    border-radius: 25px;
    margin-left: 55px;

}
