.contact-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    text-transform: uppercase;


}

.label-input {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: stretch;

}

.label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

}

.label-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

}

.label-message > textarea {
    border-color: #C2B8ED;
    color: #261397;
}

.label-message > textarea :  {
    border-color: none;
}



.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.button > button {
    text-transform: uppercase;
    border-radius: 25px;
}
