input {
    margin-bottom: 10px;
}

.searchbar  {
    text-align: center;
    color: #261397;
    background-color: #C2B8ED;
    border: none;
    border-radius: 25px;
    width: 12vw;
    height: 4.5vh;




}

.searchbar::placeholder{
    color: #261397;
}
