.searchbar {
    margin: 0 0 16px 0;

}

.searchbar  {
    text-align: center;
    color: #261397;
    background-color: #C2B8ED;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 40px;
    outline: none;
    margin-top: 20px;

}

.searchbar::placeholder{
    color: #261397;
}
