nav ul a,
nav ul a:visited{
    color:darkmagenta;
    text-decoration: none;
}

.default-link {
    border-bottom: 1px solid transparent;
}

.active-link {
    border-bottom: 1px solid darkmagenta;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vh;
    padding-top: 38px;
    padding-bottom: 30px;
    background-color: transparent;
    flex-grow: 0;
    flex-shrink: 1;


}

.left-side-nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;



}

.right-side-nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;


}
.profile {
    width: 30px;
    height: 38px;
    margin: 0px 10px 0px 10px;

}

.basket {
    width: 35px;
    height: 40px;
    margin: 0px 10px 0px 10px;

}

.shop{
    width: 50px;
    height: 30px;
    margin: 0px 10px 0px 10px;
}

.logo {
    width: 30px;
    height: 40px;
    margin: 0px 10px 0px 0px;


}

.about {
    width: 50px;
    height: 20px;
    margin: 0px 7px 0px 7px;

}

