/*********default**********/

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 20px 0px 20px 0;

}

/*********left side***********/

.left-side-nav > ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;

}

.logo {
    height: 40px;
}

.about {
    width: 50px;
    height: 20px;
    margin-left: 15px;


}
/*********right side************/

.right-side-nav > ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
    margin-right: 20px;
}

.shop{
    width: 50px;
    height: 30px;

}

.profile {
    width: 53px;
    height: 32px;
    margin-right: 0;

}

.basket {
    width: 53px;
    height: 32px;
    margin-left: 0;

}






