/*********default**********/

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: transparent;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 20px 0px 20px 0;

}

/*********left side***********/

.left-side-nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

}

.logo {
    height: 40px;
}



.about {
    width: 50px;
    height: 20px;
    margin-left: 15px;

}

.shop {
    text-transform: uppercase;
}






