/****algemen*******/

.register-form-border {
    border: solid var(--lightpurple-color) 2px;
    padding: 10px 30px 14px 30px;
    margin: 20px 10px 60px 10px;
    flex-shrink: 0;

}

.title-register {
    text-align: end;
    margin-bottom: 35px;
    text-transform: lowercase;
    color: var(--darkpurple-color)

}

/******1e gedeelte******/

.register-form-first-part {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 70px 20px;
    gap: 10px;

}

.register-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
    width: 40vw;
    color: var(--darkpurple-color);
    text-transform: lowercase;
    font-weight: bold;
    font-size: 18px;
    gap: 80px;
    flex-shrink: 2;

}

.register-input {
    background-color: transparent;
    border: 2px solid var(--lightpurple-color);
    width: 17vw;
    color: var(--darkpurple-color);
    outline: none;

}

/*******2e gedeelte*****/

.register-form-second-part {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 70px 0;
    gap: 20px;

}


.register-form-second-part ::placeholder {
    color: var(--lightpurple-color);
    text-transform: uppercase;
}


/***error en succes message***/

.error-message-register {
    color: var(--orange-color);
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
}

.success-message-register {
    color: var(--orange-color);
    font-size: 16px;
    font-style: italic;
    margin-top: 10px;

}