/****algemen*******/

.register-form-border {
    border: solid #C2B8ED 2px;
    padding: 10px 30px 14px 30px;
    margin: 20px 0 60px 10px;

}

.title-register {
    text-align: end;
    margin-bottom: 35px;
    text-transform: lowercase;

}

/******1e gedeelte******/

.register-form-first-part {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 10vw;
    margin: 20px 0px 70px 20px;
    gap: 10px;

}

.register-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
    width: 40vw;
    color: #261397;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 18px;
    gap: 80px;

}

.register-input {
    background-color: transparent;
    border: 2px solid #C2B8ED;

}

/*******2e gedeelte*****/

.register-form-second-part {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: 40px 0px 70px 0;
    gap: 20px;

}

.register-label-address {
    color: #261397;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 18px;

}

.register-form-second-part ::placeholder {
    color: #C2B8ED;
    text-transform: uppercase;
}

.register-input-address {
    background-color: transparent;
    border: 2px solid #C2B8ED;
    width: 80vw;
}

.register-label-postcode {
    display: flex;

}

.register-input-postcode{
    background-color: transparent;
    border: 2px solid #C2B8ED;
}
.register-input-housenumber {
    background-color: transparent;
    border: 2px solid #C2B8ED;
    width: 10vw;
}



/****button******/

.register-button-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}




.register-button-two > button {
    text-transform: uppercase;
    font-size: 18px;
    width: 170px;
    height: 38px;
    border-radius: 25px;
    margin-left: 55px;

}


.error-message-register {
    color: #F68037;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
}
