@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Cabin Condensed', sans-serif;

}

h1, h2 {
  font-family: 'Amiko', sans-serif;
}

h3, h4, h5, h6, p, ul, li {
  font-family: 'Amaranth', sans-serif;
}

img {
  width: 100%;
}
