.login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 30px;
    width: 40vw;
    flex-shrink: 1;
    gap: 15px;

    background-image: url("../../assets/Specifics/signatuur_light.svg" );
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    background-position-x: right;
    background-position-y: top;

}


.login-form > h2 {
    text-transform: uppercase;
    text-align: end;
    margin-bottom: 10px;
}
.login-label {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    color: var(--darkpurple-color);
    width: 40vw;



}

.login-input {
    background-color: transparent;
    border: 2px solid var(--orange-color);
    outline: none;
    width: 15vw;
}



.error-message-login {
    text-align: right;
    color: var(--orange-color);
    font-size: 14px;
    font-style: italic;

}


/****specifieke pagina buttons****/


.logout-button-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;

}

.logout {
    background-color: var(--lightpurple-color);
    color: var(--orange-color);
}

.logout:hover{
    color: var(--darkpurple-color);
}
